.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    align-items: flex-end;
    justify-content: center;
}

.filters label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--text-color);
}

.filters input,
.filters select {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
    transition: border-color var(--transition-speed);
}

.filters input#anio,
.filters input#desarrollador {
    max-width: 150px;
}

.filters select {
    max-width: 200px;
}

.filters input:focus,
.filters select:focus {
    border-color: var(--primary-hover-color);
    outline: none;
}

.filters button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 14px;
    transition: background-color var(--transition-speed);
    height: 40px;
}

.filters button:hover {
    background-color: var(--primary-hover-color);
}

.filters .filter-item {
    flex: 1 1 auto;
    min-width: 150px;
    max-width: 200px;
}