/* Estilos generales */
:root {
  --primary-color: #646cff;
  --primary-hover-color: #535bf2;
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --secondary-text-color: #888;
  --border-radius: 8px;
  --transition-speed: 0.2s;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Cuadrícula de juegos */
.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Columnas responsivas */
  gap: 20px; /* Espacio entre las tarjetas (vertical y horizontal) */
  width: 95%; /* Ajusta para evitar márgenes desiguales */
  max-width: 1400px;
  margin: 0 auto; /* Centra bien la cuadrícula */
  padding: 20px 0; /* Espaciado superior e inferior */
  justify-items: center; /* Asegura que las tarjetas estén bien alineadas */
}

/* Campo de búsqueda */
.search-input {
  width: 100%;
  max-width: 600px;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}

.search-input:focus {
  border-color: var(--primary-hover-color);
  outline: none;
}

/* Estilos para el mensaje de carga y error */
.loading,
.error {
  font-size: 18px;
  margin-top: 20px;
}

.error {
  color: #ff4d4d;
}